.main {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;
        }

        .first {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 200px;
            width: 250px;
            border: 30px solid rgb(234, 188, 81);
            padding: 20px;

        }

        .second {
            height: 250px;
            width: 170px;
            border: 25px solid rgba(63, 63, 63, 0.952);
             box-shadow: inset 3px 3px 5px gray;
        }

        .second-2 {
            height: 200px;
            width: 120px;
            border: 20px solid rgba(255, 254, 254, 0.952);

        }

        .image {
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyta2hVdwzSNDqmYDKi-bvV4jfWamwIO3VCQ&s);
            background-position: center;
            background-size: cover;
            height: 215px;
            width: 135px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 3px 3px 10px gray;
        }